.text{
    opacity: 0.6;
    transition: opacity 0.3s ease-out;
}

.text:active{
    opacity: 1;
}

.column-2::after{
    content: "";
    position: absolute;
    top: 40px;
    left: 60px;
    width: 22px;
    height: 22px;
    background-image: url('/Vector 56.svg');
}

.cont{
    max-height:min-content;
    overflow: hidden;
    transition: height 0.3s ease;
}

.number{
    transform: translate(-40px , -52px);
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }