.text{
    opacity: 0.6;
    transition: opacity 0.5s ease-out;
}

.text:active{
    opacity: 1;
}

@media only screen and (max-width:768px){
  .column-2::after{
    content: "";
    position: absolute;
    top: 27px;
    left: 35px;
    width: 22px;
    height: 22px;
    background-image: url('/Vector 56.svg');
}
}

@media only screen and (min-width:768px){
  .column-2::after{
    content: "";
    position: absolute;
    top: 40px;
    left: 60px;
    width: 22px;
    height: 22px;
    background-image: url('/Vector 56.svg');
  }
}

@media only screen and (min-width:768px){
  .number{
    transform: translate(-40px , -52px);
}
}

@media only screen and (max-width:768px){
  .number{
    transform: translate(-8px , -25px);
}
}

  .italic {
    font-size: 20px;
    font-weight: 600;
    color: black;
  }

  li{
    list-style-type: disc;
  }

  .fade{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .show{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .translate{
    position: absolute;
    left: 40px;
  }