@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.doll {
    animation: walk 5s linear infinite;
}

@keyframes walk {
    from {
        left: 100%;
    }

    to {
        left: -20%;
    }
}
