.doll {
    animation: walk 25s linear infinite;
    // background-color: red;

    @media screen and (max-width: 768px) {
        animation: walk 5s linear infinite;
    }

    @media screen and (max-width: 1024px) {
        animation: walk 10s linear infinite;
    }
}

@keyframes walk {
    from {
        left: 100%;
    }

    to {
        left: calc(0px - 103px);
    }
}
