@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
  color: white;
  overflow-x: hidden;
}

p,div,h1,h2,h3,h4,h5,h6,button{
  font-family: 'IBM Plex Mono', monospace;
}

.fmi{
  font-family: 'IBM Plex Mono', italic;
}

.fmb{
  font-family: 'Press Start 2P'!important;
}

.main{
  background: linear-gradient(180deg, #FFB898 0%, #FFDBAF 100%);
}

.video{
  background: rgba(28, 26, 25, 0.25);
}

@media only screen and (min-width: 768px) {
  .box::before{
    content: "";
    position: absolute;
    top: 66.7%;
    left: 77%;
    width: 200px;
    height: 255px;
    background-image: url('/Bricktop 1.png');
    background-size: cover;
  }
}

@media only screen and (max-width: 768px) {
  .box::before {
    content: "";
    position: absolute;
    top: 595px;
    left: 63%;
    width: 152px;
    height: 170px;
    background-image: url('/Bricktop 1.png');
    background-size: cover;
  }
}

.box::after{
  content: "";
  position: absolute;
  top: 767px;
  left: -35px;
  width: 34px;
  height: 39px;
  background-image: url('/Vector 57.svg');
}

.vector{
  position: relative;
}

.vector::after{
  content: "";
  position: absolute;
  top: 123px;
  left: 700px;
  width: 38px;
  height: 39px;
  background-image: url('/Vector 58.svg');
}

.vector::before{
  content: "";
  position: absolute;
  top: -690px;
  left: 100%;
  width: 38px;
  height: 39px;
  background-image: url('/Vector 59.svg');
}

.vector1::after{
  content: "";
  position: absolute;
  top: 100px;
  right: 260px;
  width: 38px;
  height: 39px;
  background-image: url('/Vector 60.svg');
}


@media only screen and (min-width: 768px) {
  .bg-img{
    background-image: url('/photo_5084860946681277544_y_1-removebg-preview.png');
    background-size: contain;
    background-position: center 160px;
    background-repeat: no-repeat;
  }
}

.bg-texture{
  background-image: url('/photo_5017356675107105777_y 2.png');
}

.border-3{
  border-width: 3px;
}

@media only screen and (max-width: 768px) {
  .bg-small-img{
    background-image: url('/photo_5084860946681277544_y_1-removebg-preview 1 (1).png');
    background-position: bottom;
    background-size: calc(430px);
    background-repeat: no-repeat;
  }
}

/*.button{
  border: white 1px solid;
  width: 161px;
}

.button:hover{
  transform: translate(-10px , 11.5px);
  transition: 0.3s ease-in-out;

}

.svg{
  position: absolute;
  height: 60px;
  width: 170px;
  top: 46px;
  right: 165px;
}

.button:hover .svg-container {
  opacity: 0;
  display: none;
} */
