@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
    color: white;
    overflow-x: hidden;
}

.border-3 {
    border-width: 3px;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "IBM Plex Mono", monospace;
}

.fmb {
    font-family: "Press Start 2P" !important;
}

.main-bg {
    background: linear-gradient(180deg, #ffb898 0%, #ffdbaf 100%);
}

.bg-texture {
    background-image: url("/bg-images/bg-img.png");
}

.video {
    background: rgba(28, 26, 25, 0.25);
}

.box {
    background: rgba(226, 110, 93, 0.8);
}

@media only screen and (max-width: 768px) {
    .box::before {
        content: "";
        position: absolute;
        top: 595px;
        left: 63%;
        width: 152px;
        height: 170px;
        background-image: url("/Bricktop 1.png");
        background-size: cover;
    }

    .vector1::after {
        content: "";
        position: absolute;
        top: -1%;
        left: -1.2%;
        width: 38px;
        height: 39px;
        background-image: url("/corners/Vector 60.svg");
    }

    .box::after {
        content: "";
        position: absolute;
        bottom: -0.7%;
        left: -1%;
        width: 34px;
        height: 39px;
        background-image: url("/corners/Vector 57.svg");
    }

    .vector::after {
        content: "";
        position: absolute;
        bottom: -0.7%;
        right: -1%;
        width: 38px;
        height: 39px;
        background-image: url("/corners/Vector 58.svg");
    }

    .vector::before {
        content: "";
        position: absolute;
        top: -1%;
        right: -1.2%;
        width: 38px;
        height: 39px;
        background-image: url("/corners/Vector 59.svg");
    }
}

@media only screen and (min-width: 768px) {
    .box::before {
        content: "";
        position: absolute;
        top: 66.7%;
        left: 77%;
        width: 200px;
        height: 255px;
        background-image: url("/Bricktop 1.png");
        background-size: cover;
    }

    .vector1::after {
        content: "";
        position: absolute;
        top: -3%;
        left: -3%;
        width: 38px;
        height: 39px;
        background-image: url("/corners/Vector 60.svg");
    }

    .box::after {
        content: "";
        position: absolute;
        bottom: -3%;
        left: -3%;
        width: 34px;
        height: 39px;
        background-image: url("/corners/Vector 57.svg");
    }

    .vector::after {
        content: "";
        position: absolute;
        top: 98%;
        right: -3%;
        width: 38px;
        height: 39px;
        background-image: url("/corners/Vector 58.svg");
    }

    .vector::before {
        content: "";
        position: absolute;
        top: -3%;
        right: -3%;
        width: 38px;
        height: 39px;
        background-image: url("/corners/Vector 59.svg");
    }
}

@media only screen and (min-width: 768px) {
    .bg-img {
        background-image: url("/bg-images/photo_5084860946681277544_y_1-removebg-preview.png");
        background-size: contain;
        background-position: center 160px;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 768px) {
    .bg-small-img {
        background-image: url("/bg-images/photo_5084860946681277544_y_1-removebg-preview 1 (1).png");
        background-position: bottom;
        background-size: calc(430px);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1280px) {
    .bg-blur1::after {
        content: "";
        position: absolute;
        left: -1%;
        filter: blur(110px);
        background: #e26e5d;
        width: 240px;
        height: 250px;
    }

    .bg-blur2::after {
        content: "";
        position: absolute;
        top: 130%;
        right: -1%;
        filter: blur(100px);
        background: #e26e5d;
        width: 240px;
        height: 300px;
    }

    .bg-blur2::before {
        content: "";
        position: absolute;
        top: 180%;
        left: 1%;
        filter: blur(180px);
        background: #e26e5d;
        width: 240px;
        height: 300px;
    }
}
