.bg-road{
    background-image: url('/bg-images/Group 144.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

  .bg-blur{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
  }