
.bg-road {
    background-image: url("/bg-images/Group 144.svg");
    background-repeat: repeat-y;
    background-size: auto;
    background-position: center top;
}

.bg-footer {
    background-image: url("/photo_5100376236865203014_y-removebg-preview 2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

.ccontainer {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    min-width: 120vw;
    justify-content: center;
    margin-bottom: 30px;

    box-sizing: border-box;
}

.row {
    display: flex;
    margin-top: "20px";

    position: relative;

    column-gap: 30px;
}

.row:nth-child(2) {
    @apply md:left-[-50px];
}

.row:nth-child(3) {
    @apply md:left-[20px];
}

.row:nth-child(4) {
    @apply md:left-[-50px];
}
.row:nth-child(5) {
    @apply md:left-[-50px];
}
.row:nth-child(6) {
    @apply md:left-[-50px];
}

.boxes {
    width: 80vw;
    border: 1px solid black;
    // @apply md:width-[60px];
    overflow: hidden;
    height: 22vh;
    background-color: rgba(226, 110, 93, 0.23);
    // margin-right: 30px;
    border: 3px solid white;

    &.b {
        background-color: rgba(#e26e5d, 0.75);
        box-sizing: border-box;
        width: 80vw;
    }
}

@media only screen and (max-width: 824px) {
    .row {
        display: flex;
        margin-top: "20px";
        justify-content: center;
        margin-right: 15%;
    }
}
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    background: rgba(226, 110, 93, 0.3); /* Color of the scrollbar handle with opacity */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e26e5d; /* Color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e26e5d; /* Color of the scrollbar handle on hover */
  }
