.bg-road{
    background-image: url('/Group 144.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
  
  .bg-footer{
    background-image: url('/photo_5100376236865203014_y-removebg-preview 2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-blur{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
  }